@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

body  {
  font-family: 'Prompt', sans-serif; 
  font-weight: 200;
  font-size: 18px;
}

h1 {
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
}

.btn-submit {
  background-color: #6aa842;
  color: #ffffff;
}